body {
  font-family: sans-serif;
  background: #f8f9fa;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #6200ea;
  color: white;
  padding: 1rem;
}

h1 {
  margin: 0;
}

.btn {
  display: inline-block;
  margin: 2rem;
  padding: 1rem 2rem;
  background-color: #6200ea;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
